.postWrapper {
    margin-bottom: 30px;
    border-width: 1px;
    border-color: black;
    border-style: groove;
}

.userInfoContainer{
    display: flex;
    align-items: center;
    padding: 10px;
}

.userAboutContainer p{
    padding: 0px 15px 0px;
}

.userNameStyles p{
    font-weight:500;
    cursor: pointer;
}

.userDesignationStyles p {
    font-weight: 300;
}

.postContainer img{
    height: 500px;
}

.postDescription p {
    padding: 7px;
    font-size: 13px;
}